*.iml
.gradle/
/local.properties
/firebase-debug.log
node_modules/
/functions/.env
/functions/.env.*
!/functions/.env.example
/.firebase/
/.idea/
/build/
/app/build/
.DS_Store
.externalNativeBuild/
.cxx/
captures/
